# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

# Ignore Expo TypeScript definition file
expo-env.d.ts

.env

# Ignore IDE specific files

work to do.txt

hugging_face_help.rtf

UI_ideas

Api

.idea

eas.json
android/

.expo-shared/
assets/images/WhatsApp Image 2025-05-06 at 4.43.00 PM.jpeg

build/